<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LearnUp</title>

  <!-- Favicons -->
  <link href="/assets/img/favicon (1).ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a href="/home">Learn<span>Up</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/home">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= home page Section ======= -->
  <section id="hero">

    <div class="hero-content" data-aos="fade-up">
      <h2>Making <span>Learning</span><br>Easy!</h2>
      <div>
        <a href="#services" class="btn-projects scrollto">Get Started</a>
      </div>
    </div>

    <div class="hero-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/1.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/2.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/3.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/4.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/5.jpg');"></div>
      </div>
    </div>

  </section>
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>About Us</h2>
        </div>

        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="assets/img/aboutimg.png" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Learn Explore Contribute!</h2>
            <h3>This is a website for you to start applying your knowledge and make changes with experience.</h3>

            <ul>
              <li><i class="bi bi-check-circle"></i> Add your Project</li>
              <li><i class="bi bi-check-circle"></i> Add your Research Idea</li>
              <li><i class="bi bi-check-circle"></i> Work on existing Projects</li>
              <li><i class="bi bi-check-circle"></i> Work on ongoing Research ideas/papers</li>
            </ul>

          </div>
        </div>

      </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Get Started</h2>
          <p>You can add your ongoing projects and/or research papers and ask other geeks to contribute in it or you can work with others on their ideas. <br> 
              <b>Team work makes the dream work! </b>    </p>
        </div>

        <div class="row gy-4">
          <!-- ADD PROJECT CARD -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <!-- ADD LINKS -->
              <h4 class="title"><a href="/addproject ">Add your project </a></h4>
              <p class="description">Add your project by filling the provided form to list your project idea on our website.</p>
              <br>  <a href="/addproject "><b>ADD PROJECT</b></a>   
            </div>
          </div>
<!-- WORK ON EXISTING PROJECT CARD -->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
               <!-- ADD LINKS -->
              <h4 class="title"><a href="/findproject">Work on an existing project </a></h4>
              <p class="description">Explore through the list of projects and work upon the one that intrests you.</p>
              <br>  <a href="/findproject"><b>FIND PROJECT</b></a>
            
            </div>
          </div>
<!-- ADD RESEARCH CARD -->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
               <!-- ADD LINKS -->
              <h4 class="title"><a href="/addresearch">Add your Research topic</a></h4>
              <p class="description">Add your research idea/paper by filling the provided form to list it on our website.</p>
              <br> <a href="/addresearch"><b>ADD RESEARCH</b></a>
            </div>
          </div>
<!-- WORK ON EXISTING RESEARCH CARD -->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
               <!-- ADD LINKS -->
              <h4 class="title"><a href="/findresearch">Work on an existing Research work</a></h4>
              <p class="description">Explore through the list of ongoing research papers and work upon the one that intrests you.</p>
             <br> <a href="/findresearch"><b>FIND RESEARCH</b></a>
            </div>
          </div>

        </div>

      </div>
    </section>

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>LearnUp</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">Team Terminators</a>
      </div>
    </div>
  </footer>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>


  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>